@model BookingConfirmationVM


<div class="container py-5">

    <a asp-area="Customer" asp-action="Index" asp-controller="Transactions" class="btn btn-outline-secondary mb-3">
        <i class="fas fa-arrow-left"></i> Back to Transactions
    </a>

    <partial name="_BookingDetailPartial" model="@Model"/>
</div>
